;
; Netatalk 3.x configuration file
;

[Global]
; Global server settings
mimic model = TimeCapsule6,106

[Homes]
basedir regex = /home

[My AFP Volume]
path = /media

[My Time Machine Volume]
path = /media/timemachine
time machine = yes