;
; Netatalk 3.x configuration file
;

[Global]
; Global server settings
mimic model = TimeCapsule6,106
guest account = wiaf

[Homes]
basedir regex = /home

[Kittycastle]
path = /media/kittycastle

[music]
path = /media/music01

[Timemachine01]
path = /media/timemachine
time machine = yes

log file = /var/log/afp.log