[global]
workgroup = WORKGROUP
security = user
map to guest = Bad Password
os level = 69
local master = yes
preferred master = yes

["{{ samba_share_name }}"]
path = " {{ samba_mount_path }}"
create mask = 0777
directory mask = 0777
valid users = "{{ samba_user_general }}, {{ samba_user_spec }}"
public = no
writable = yes
printable = no
guest ok = no

[timemachine]
path = /media/timemachine
read only = no
valid users = "{{ timemachine_user }}"
vfs objects = catia fruit streams_xattr
fruit:time machine = yes